{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section>
		<div class="ext-gap bluesh high-opacity">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner mt-5 mb-5">
							<h1>About Us</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area animated -->

	<section>
		<div class="gap100 no-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-winku">
							<h4>Welcome to Thailand Guiding Light</h4>
							<span>Thailand Guiding Light is a dynamic social networking site designed for enthusiasts of Thailand travel. Whether residing in or visiting Thailand, users can share their experiences through photos, videos, and posts, engage with content via likes and comments, and explore external links to other social sites or websites. The platform serves as a marketplace to promote and sell travel packages, boosting visibility for local tour businesses and other tourist-related services. Additionally, users can network with like-minded individuals globally or locally, enhancing communication and building relationships.

								</span>
							<p>The site supports eCommerce by allowing businesses to advertise and direct users to their websites. It features a comprehensive login system and personal account management tools that enable both users and administrators to edit and manage their profiles effectively.</p>
							<div class="fonder">
								<h4>Wanwisa Waddington <i>founder</i></h4>
								<i>Wanwaddington inc</i>
							</div>
							<figure class="sign-author">
								<img src="/media/images/about/welcome-sign.png" alt="">
							</figure>
						</div>
					</div>
					<div class="col-lg-6">
						<figure class="about-picture">
							<img src="/media/images/about/about-company.png" alt=""> 
						</figure>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="gap100 mt-5 mb-5 ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-heading">
							<h2>Our Team</h2>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="our-teambox">
							<figure><img src="/media/images/about/team1.jpg" alt=""></figure>
							<div class="team-info">
								<h4>Sara Grey</h4>
								<span>Designer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="our-teambox">
							<figure><img src="/media/images/about/team4.jpg" alt=""></figure>
							<div class="team-info">
								<h4>Peter Paker</h4>
								<span>Developer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="our-teambox">
							<figure><img src="/media/images/about/team3.jpg" alt=""></figure>
							<div class="team-info">
								<h4>Amy watson</h4>
								<span>Support</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="our-teambox">
							<figure><img src="/media/images/about/team2.jpg" alt=""></figure>
							<div class="team-info">
								<h4>Emma Grill</h4>
								<span>Operations</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- our team -->

{% endblock content %}
