
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-5">
    <h1>About Us</h1>
</div> 
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">THAILAND GUIDING LIGHT.CO.THILAND</h5>
      <p class="card-text"> Thailand Guiding Light is a dynamic social networking site designed for enthusiasts of Thailand travel. Whether residing in or visiting Thailand, users can share their experiences through photos, videos, and posts, engage with content via likes and comments, and explore external links to other social sites or websites. The platform serves as a marketplace to promote and sell travel packages, boosting visibility for local tour businesses and other tourist-related services. Additionally, users can network with like-minded individuals globally or locally, enhancing communication and building relationships.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endblock content %}
about.html
Displaying about.html.