{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row my-5">
    <h1>Your Connection</h1>
  </div>
  <div class="container">
      <div class="row mt-5 pt-5 pb-5">
          {% for message in messages %}
              <div class="alert alert-success">
                  {{ message }}
              </div>
              {% endfor %}

      <div class="row pb-5">
          <div class="col-md-12 ">

              <div class="card">
                  <div class="card-body">
                      <h3>Connection Requests Sent</h3>

  <table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Username</th>
        <th scope="col">Status</th>
          <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>

  {% for friendRequest in FriendRequest %}
      <tr>
        <th scope="row">{{friendRequest.friend}}</th>
        <td>{{friendRequest.status}}</td>

          <td><a href="/connection?delete_request_id={{friendRequest.id_friend_request}}">Cancel</a></td>
      </tr>

  {% endfor %}
    </tbody>
  </table>

                  </div>
              </div>

          </div>
      </div>


              <div class="row pb-5">
          <div class="col-md-12 ">

              <div class="card">
                  <div class="card-body">
                      <h3>Connection Requests Received</h3>

  <table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Username</th>
        <th scope="col">Status</th>
          <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>

  {% for friendRequest in FriendRequestReceived %}
      <tr>
        <th scope="row">{{friendRequest.user}}</th>
        <td>{{friendRequest.status}}</td>

          <td><a href="/connection?friend_request_id={{friendRequest.id_friend_request}}">Accept</a>
          <a href="/connection?delete_request_id={{friendRequest.id_friend_request}}">Cancel</a>
          </td>
      </tr>

  {% endfor %}
    </tbody>
  </table>

                  </div>
              </div>

          </div>
      </div>


          <div class="row pb-5">
          <div class="col-md-12 ">

              <div class="card">
                  <div class="card-body">
                      <h3>Connection List</h3>

  <table class="table table-striped">
    <thead>
      <tr>
          <th scope="col">Username</th>
          <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>

  {% for friend in Friend %}
      <tr>
        <th scope="row">{{friend.friend}}</th>
          <td><a href="/connection?friend_id={{friend.friend.id}}">Disconnect</a>
          </td>
      </tr>

  {% endfor %}
    </tbody>
  </table>

                  </div>
              </div>

          </div>
      </div>


  </div>
  </div>

</div>
{% endblock content %}
