{% extends "base.html" %}

{% block content %}
    <div class="row my-4">
        <div class="col-12 col-md-4">
        
          {% if request.user.is_superuser %}
          <!-- Menu Sidebar -->
          <div id="admin-sidebar" class="sidebar-widget">
            <div class="header">Admin Settings</div>
            <div class="menu-lists">
              <ul>
                <li><a class="link-opacity-100"  href="/admin"><i class="fa-sharp fa-solid fa-user-tie icon-hover-color"></i> Admin site</a></li>
                <li><a class="link-opacity-100"  href="/comment_crud"><i class="fa-sharp fa-solid fa-user-gear icon-hover-color"></i> Comment</a></li>
              </ul>
            </div>
          </div>
          <!-- End Menu Sidebar -->  
          {% endif %}

          <!-- Menu Sidebar -->
          <div id="menu-sidebar" class="sidebar-widget">
            <div class="header">Menu</div>
            <div class="menu-lists">
              <ul>
                <li><a class="link-opacity-100" href="/account" aria-label="Visit your account page (open in a same tab)"><i class="fa-solid fa-gear mx-2 icon-hover-color"></i>Profile</a></li>
                <li><a class="link-opacity-100" href="#" aria-label="Visit your connection list (open in a same tab)"><i class="fa-solid fa-people-arrows mx-2 icon-hover-color"></i>Your Connection</a></li>
                <li><a class="link-opacity-100" href="#" aria-label="Visit our chat room popover (open in a same tab)" ><i class="fa-solid fa-comments mx-2  icon-hover-color"></i>Chat</a></li>
                <li><a class="link-opacity-100" href="/popular" aria-label="Visit our most popular place page (open in a same tab)"><i class="fa-brands fa-fort-awesome mx-2 icon-hover-color"></i>Most Popular Place</a></li>
                <li><a class="link-opacity-100" href="https://www.audleytravel.com/thailand?infinity=ict2~net~gaw~cmp~16213647585~ag~136107107729~ar~679147414072~kw~thailand%20travel%20agency~mt~p~acr~2868936838&audcmp=16213647585&audadg=136107107729&audkey=thailand%20travel%20agency&auddev=c&audadid=679147414072&audpos=&audtrgt=kwd-627272734261&audtel=ppcnb&audnet=g&gad_source=1&gclid=Cj0KCQiAh8OtBhCQARIsAIkWb69knbPeiiIa-IqpTcnGycyXQnAh38qZY23ul8AsbUYOCiM2OarKkv8aAkGREALw_wcB" aria-label="Visit our travel agent page" target="_blank"><i class="fa-solid fa-cart-flatbed-suitcase mx-2 icon-hover-color"></i>Travel Agent</a></li>
                <li><a class="link-opacity-100" href="https://uk.hotels.com/Hotel-Search?destination=Thailand&endDate=2024-02-08&gad_source=1&gclid=Cj0KCQiAh8OtBhCQARIsAIkWb6-lWCdV3ejPxpe0xPLA6OdpgvgvDfUYHFmpI1RxOVMRaghJEqKkTIYaAkIQEALw_wcB&locale=en_GB&regionId=178&semcid=HCOM-UK.UB.GOOGLE.DT-c-EN.HOTEL&semdtl=a112471567546.b1117822180639.g1kwd-15368040.e1c.m1Cj0KCQiAh8OtBhCQARIsAIkWb6-lWCdV3ejPxpe0xPLA6OdpgvgvDfUYHFmpI1RxOVMRaghJEqKkTIYaAkIQEALw_wcB.r1632a215bbafda89b93d9208569c01843edf04c0de81bc3284061577712f8d011.c1.j19046590.k1.d1618834618925.h1e.i1.l1.n1.o1.p1.q1.s1.t1.x1.f1.u1.v1.w1&siteid=300000005&sort=RECOMMENDED&startDate=2024-02-07&theme=&useRewards=false&userIntent=" aria-label="Visit our accommodations website" target="-blank"><i class="fa-solid fa-square-h mx-2 icon-hover-color"></i>Accommodations</a></li>
                <li><a class="link-opacity-100" href="https://www.orientalescape.com/transfer/thailand/book" aria-label="Visit our transport website" target="_blank"><i class="fa-solid fa-taxi mx-2 icon-hover-color"></i>Transport</a></li>
                <li><a class="link-opacity-100" href="https://www.independent.co.uk/topic/thailand-travel" aria-label="Visit our thai travel news" target="_blank"><i class="fa-solid fa-newspaper mx-2 icon-hover-color"></i>Thai Travel News </a></li>
                <li><a class="link-opacity-100" href="/logout" aria-label="Visit your account page (open in a same tab)"><i class="fa-sharp fa-solid fa-right-from-bracket icon-hover-color mx-2 icon-hover-color"></i>Logout</a></li>
              </ul>
            </div>
          </div>
          <!-- End Menu Sidebar -->  

          <!-- Card 1 -->
          <a href="https://theadventurepeople.com/destinations/thailand?gad_source=1&gclid=Cj0KCQiAh8OtBhCQARIsAIkWb69oxnEiFzIy4OvzXY9n6YMWJff1jJXbw8TcIr9OupEbmZU6FeksZW8aAqS0EALw_wcB"
            target="_blank"  aria-label="Visit fish and chip tour website (open in a new tab)" class="card text-decoration-none mb-3">
            <img alt="wat a run bangkok" src="https://media.istockphoto.com/id/1173736603/photo/young-woman-pulling-suitcase-in-airport-terminal-copy-space.jpg?s=1024x1024&w=is&k=20&c=Z90V6j_KuXIgd8KW_7eObiQMFZTfO4lDnulJ1QmrDSg=" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Fish and Chip Tour</h5>
              <p class="card-text">Amazing Thailand Escorted Tour Packages from UK
                Explore Bangkok, the Golden Triangle, Chiang Rai and Chai Mai on a Thailand tour package, which features a visit to an elephant camp.</p>
            </div>
          </a>
          <!-- End Card 1-->

          <!-- Card 2 -->
          <a href="https://www.thailand-tourism.net/"
            target="_blank"  aria-label="Visit thailand tourism.net website (open in a new tab)" class="card text-decoration-none mb-3">
            <img alt="wat a run bangkok" src="https://media.istockphoto.com/id/1146493663/photo/bangkok-thailand-at-the-temple-of-the-emerald-buddha-and-grand-palace.jpg?s=1024x1024&w=is&k=20&c=f2M_Pq_7ci7hp3sgSQfbhpZIrTfOSdlcocDXt2xvQXI=" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Buddha Tour Dot Com</h5>
              <p class="card-text">5 DAYS CHIANG MAI BUDDHISM AND CULTURAL TOUR
                VISIT CHIANG MAI FOR A TASTE OF BUDDHIST HISTORY AND CULTURE!
                Let us design for you a trip that will give you insights into the development of Buddhism in North Thailand. We will discuss with you the itinerary and off we go!</p>
            </div>
          </a>
          <!-- End Card 2-->

          <!-- Card 3 -->
          <a href="https://www.thailand-tourism.net/"
            target="_blank"  aria-label="Visit lonelyplanet.com thailand website (open in a new tab)" class="card text-decoration-none mb-3">
            <img alt="phuket island" src="https://media.istockphoto.com/id/1309583872/photo/aerial-view-of-lao-lading-island-in-krabi-thailand.jpg?s=1024x1024&w=is&k=20&c=QluXaL4bsnRTTmpHZHvMRNJqGhFT-dBEy8xmJsXZWW8=" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Best Phuket Tour</h5>
              <p class="card-text">
                With turquoise waters, limestone cliffs, sandy beaches, and lush jungle, Phang Nga Bay boasts islands straight out of a brochure. Explore them with a guide on this all-inclusive day trip. Kayak through caves and mangroves at Koh Panak and surreal rock formations at Hong Island. Soak up views of James Bond Island then lounge on the beach at Lawa Island. Refuel with a buffet lunch onboard your boat.
              </div>
          </a>
          <!-- End Card 3-->

          <!-- Card 4 -->
          <a href="https://www.thaitravelcenter.com/thailand/"
            target="_blank"  aria-label="Visit thailand trevelcenter.com (open in a new tab)" class="card text-decoration-none mb-3">
            <img alt="two people sit on cragle on chang island" src="https://media.istockphoto.com/id/1213840216/photo/luxury-travel-romantic-couple-in-beach-hotel.jpg?s=1024x1024&w=is&k=20&c=Z-5_rrckhzQcXR_czDKemD3X5eQO2371QhDHzGI1Lew=" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Koh Chang Island Tour</h5>
              <p class="card-text">
                Koh Chang, ('Elephant Island' in Thai) is the third largest island in Thailand and part of the Mu Ko Chang National Park.
                Compared to the bustling Phuket and Samui islands, Koh Chang offers a more peaceful and laid-back atmosphere, making it an ideal destination for travelers seeking to avoid the crowds. With a good range of accommodations, some excellent restaurants, and numerous bars, Koh Chang provides a perfect balance of relaxation and adventure.
              </p>
            </div>
          </a>
          <!-- End Card 4-->

          <!-- Card 5 -->
          <a href="https://forevervacation.com/bangkok-thrilling-tuk-tuk-tour?gad_source=1&gclid=CjwKCAjwupGyBhBBEiwA0UcqaNTRhiSnh982LDLAG3qtgnr0yhhked_02LeKEk6Aytv44dRxO9r_BRoCYWQQAvD_BwE"
            target="_blank"  aria-label="Visit thailand trevelcenter.com (open in a new tab)" class="card text-decoration-none mb-3">
            <img alt="two people sit on cragle on chang island" src="https://media.istockphoto.com/id/1131729452/photo/tuk-tuk-thailand-thai-traditional-taxi-in-thailand.jpg?s=1024x1024&w=is&k=20&c=yxFh0gomMISMzOVbChHm6c1i95RTSJETF5j1m14JK7s=" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Tuk Tuk Tour Adventure</h5>
              <p class="card-text">
                Established in 2010 Book a tour in Bangkok. Book online for the best tours at the best prices! Must-see attractions. Top-rated things to do. Top attraction tickets. Easy price comparison.</p>
              </div>
          </a>
          <!-- End Card 5-->

        </div>
          
        <div class="col-12 col-md-8">
            <!-- Form Post -->
            <div id="form-post" class="card p-4">
                <div class="form-post-header d-flex flex-row align-items-center mb-3 ">
                  <div class="text-center">
                    {% if request.user.profile.profile_img is not None %}
                    <img src="{{request.user.profile.get_profile_url}}" class="rounded" alt="..." width='60' height='60'  onerror="this.src='/media/images/default/profile.png'"/>
                    {% else %}
                    <img src=".." class="rounded" alt="human shadow image" width='60' height='60'  onerror="this.src='/media/images/default/profile.png'"/>
                    {% endif %}
                  </div>
                  <div>
                      <div class="">
                        <span  class="mx-3 fs-18">{{request.user.profile.get_full_name}}</span >
                      </div>
                  </div>
                </div>
                {{form.errors}}

                <form method="post"  enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="title" placeholder="Write something" aria-label="Write something" aria-describedby="button-addon2">
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
                  </div>
                  <div>
                    <button class="btn w-100" type="submit" id="button-addon2">Post</button>
                  </div>
                </form>
            </div>
            <!-- End Form Post -->

            <!-- Post Lists -->
            <div class="row">
              <div class="col-12">
                {% for post in posts %}

                  <!-- Post -->
                  <div class="post-card card">
                      
                      <!-- Post Header -->
                      <div class="post-card-header">
                        <div class="d-flex flex-row align-items-center">
                          <div class="text-center">
                              <img src="{{post.user.profile.get_profile_url}}" class="rounded-5" alt="..." width=60 height=60 onerror="this.src='/media/images/default/profile.png'" />
                            </div>
                            <div>
                              <div class="">
                                <span  class="mx-3 fs-20 fw-700">{{post.user.profile.get_full_name}}</span >
                                <small><i class="fa-solid fa-ellipsis-vertical icon-hover-color"></i></small>
                              </div>
                            </div>
                          </div>
                      </div>
                      <!-- End Post Header -->

                      <div class="post-card-info">
                        <div class="post-card-title">{{post.title}}</div>
                        <!-- <p class="post-card-excerpt">{{post.excerpt}}</p> -->
                      </div>

                      <!-- Post Image -->
                      {% if post.featured_image.url is not None %}
                        <img  class="card-img-top" alt="image from user" src="{{post.featured_image.url}}"  >home_app
                      {% else %}
                      <div id="carouselExampleControls-{{post.id_post}}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          {% for gallery in post.gallery_set.all %}
                            <div class="carousel-item active">
                              <img src="{{gallery.image.url}}" class="d-block w-100 rounded" alt="..." height=500 style="object-fit:cover;border-radius: 0px !important;" />
                            </div>
                          {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-{{post.id_post}}" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-{{post.id_post}}" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      {% endif %}
                      <!-- End Post Image -->

                      <div class="post-card-body card-body p-0">
                        <!-- Post Action -->
                        <div class="post-card-action">
                          <div class="post-card-action-item" id="like-{{post.id_post}}" onclick="toggle_like('{{post.id_post}}')">
                            <span class="action-text">
                              <span class="count-badge">{{post.likes.count}} </span>
                              <i class="fa-solid fa-heart icon-hover-color"></i> LIKE
                            </span>
                          </div> 
                          <div class="post-card-action-item" id="comment-{{post.id_post}}" onclick="toggle_comment('post-comment-{{post.id_post}}')" >
                            <span class="action-text">
                              <span class="count-badge">{{post.comment_set.all.count}} </span>
                              <i class="fa-regular fa-comment  mx-2 icon-r icon-hover-color"></i> COMMENT
                            </span>
                          </div>
                          <div class="post-card-action-item ">
                            <span class="action-text"><i class="fa-solid fa-share-from-square  mx-2 pointer icon-hover-color"></i> SHARED</span>
                          </div>
                          <div class="post-card-action-item ">
                            <span class="action-text"><i class="fa-solid fa-people-arrows  mx-2 pointer icon-hover-color"></i> CONNECTION</span>
                          </div> 
                        </div>
                        <!-- End Post Action -->
                        
                        <input type="text" name="comment" class="form-control" onkeypress="post_comment(event,'{{post.id_post}}')" placeholder="what do you thing about this ... Press enter to add your comments">
                      </div>

                      <div class="card-footer d-none" id="post-comment-{{post.id_post}}" >
                          <p class="h6 my-3">Comments</p>
                          {% for comment in post.get_all_comments %}
                              <div class="row" id="comment-{{comment.id_post_comment}}" >
                                <div class="d-flex flex-row my-1">
                                    <div class="text-center ml-5">
                                        <img src="{{comment.user.profile.get_profile_url}}" class="rounded ml-5" alt="..." width="50" height="50" onerror="this.src='/media/images/default/profile.png'" >
                                      </div>
                                      <div>
                                        <div class="">
                                        <p  class="mx-3 my-0 text-post-account-comment text-bold">{{comment.user}}</p >
                                            <p  class="mx-3 my-2 text-post-comment"><span id="commenttxt-{{comment.id_post_comment}}" >{{comment.comment}}</span>
                                                {% if user.is_authenticated %} {% if user.id == comment.user.id %}
                                                <a href="{% url 'index' %}?delete_id={{comment.id_post_comment}}" >Delete?</a>
                                                <button style="background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;" href="" onclick="editshow('{{comment.id_post_comment}}')" >Edit?</button>

                                                <input style="display:none;" type="text" id="{{comment.id_post_comment}}" name="comment" class="form-control editboxhide" value="{{comment.comment}}" onkeypress="edit_comment(event,'{{comment.id_post_comment}}','{{post.id_post}}')" placeholder="press enter to Save Comment">
                                                </p>
                                                {% endif %} {% endif %}
                                    </div>
                                </div>
                                    </div>
                            </div>
                              
                              {% empty %}
                              <p  class="mx-3 my-2 text-center text-post-comment"></p >
                          {% endfor %}
                      </div>
                  </div>
                  <!-- End Post -->


                {% endfor %}
                </div>
            </div>
            <!-- End Post Lists -->


        </div>
    </div>
{% endblock content %}


{% block extras_js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    function toggle_comment(id_post){
        $('#' + id_post).toggleClass('d-none');
      }




      function toggle_like(id_post) {
        var csrftoken = Cookies.get('csrftoken');


        $.ajaxSetup({
            headers: {
                'X-CSRFToken': csrftoken
            }
        });

        $.ajax({
            type: 'POST',
            url: `/api/toggle-like/${id_post}/`,
            success: function(data) {
                $('#like-' + id_post).html(data.like_count + ' <i class="fa-solid fa-heart"></i>');
            },
            error: function() {
                console.log('like fail')
            }
        });
    }

function editshow( comment_id ){

var x = document.getElementById(comment_id);
if (x.style.display === "none") {
    x.style.display = "block";
  }else {
    x.style.display = "none";
  }

}

function edit_comment(event,comment_id,post_id){

if (event.key === 'Enter') {
            console.log("post comment")
            event.preventDefault();
            var comment_text = $(event.target).val();

            $.ajax({
                type: 'POST',
                url: `/api/edit_comment/${comment_id}/`,
                data: {
                    'comment': comment_text,
                    'post_id':post_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.success) {
                        // Add HTML
                        //var x = document.getElementById("comment-"+comment_id);
                            //x.style.display = "none";
                        var x = document.getElementById("commenttxt-"+comment_id);
                        var xbox = document.getElementById(comment_id);
                        x.innerText= comment_text;
                        xbox.value= comment_text;
                        xbox.style.display = "none";


                        var profileImgSrc = $('#profile_img').attr('src');
                        var commentHtml = `
                            <div class="row"  id="comment-{{comment.id_post_comment}}"  >
                                <div class="d-flex flex-row my-1">
                                    <div class="text-center ml-5">
                                        <img src="${profileImgSrc}" class="rounded ml-5" alt="..." width=50 height=50>
                                    </div>
                                    <div>
                                        <div class="">
                                            <p  class="mx-3 my-0 text-post-account-comment">${data.comment.user}</p>
                                            <p  class="mx-3 my-2 text-post-comment">${data.comment.comment}
                                            {% if user.is_authenticated %} {% if user.id == comment.user.id %}
                                                <a href="{% url 'index' %}?delete_id={{comment.id_post_comment}}" >Delete?</a>
                                                <button style="background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;" href="" onclick="editshow('{{comment.id_post_comment}}')" >Edit?</button>

                                                <input style="display:none;" type="text" id="{{comment.id_post_comment}}" name="comment" class="form-control editboxhide" value="{{comment.comment}}" onkeypress="edit_comment(event,'{{comment.id_post_comment}}','{{post.id_post}}')" placeholder="what do you thing about this ... Press enter to add your comments">
                                                </p>
                                                {% endif %} {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        `;
                        // Add HTML
                        //$('#post-comment-' + post_id).append(commentHtml);

                        // Delete text in textbox
                        //$(event.target).val('');

                        $('#comment-' + post_id).html(data.comment_count + '  <i class="fa-regular fa-comment  mx-2">');
                    }
                },
                error: function() {
                    alert('An error occurred.');
                }
            });
        }


}

    function post_comment(event,post_id) {
        if (event.key === 'Enter') {
            console.log("post comment")
            event.preventDefault();
            var comment_text = $(event.target).val();

            $.ajax({
                type: 'POST',
                url: `/api/add_comment/${post_id}/`,
                data: {
                    'comment': comment_text,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.success) {
                        // Add HTML
                        var profileImgSrc = $('#profile_img').attr('src');
                        var commentHtml = `
                            <div class="row">
                                <div class="d-flex flex-row my-1">
                                    <div class="text-center ml-5">
                                        <img src="${profileImgSrc}" class="rounded ml-5" alt="..." width=50 height=50 onerror="this.src='/media/images/default/profile.png'" >
                                    </div>
                                    <div>
                                        <div class="">
                                            <p  class="mx-3 my-0 text-post-account-comment">${data.comment.user}</p>
                                            <p  class="mx-3 my-2 text-post-comment">${data.comment.comment}

                                            {% if user.is_authenticated %} {% if user.id == comment.user.id %}
                                                <a href="{% url 'index' %}?delete_id={{comment.id_post_comment}}" >Delete?</a>
                                                <button style="background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;" href="" onclick="editshow('{{comment.id_post_comment}}')" >Edit?</button>

                                                <input style="display:none;" type="text" id="{{comment.id_post_comment}}" name="comment" class="form-control editboxhide" value="{{comment.comment}}" onkeypress="edit_comment(event,'{{comment.id_post_comment}}','{{post.id_post}}')" placeholder="what do you thing about this ... Press enter to add your comments">
                                                </p>
                                                {% endif %} {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        `;
                        // Add HTML 
                        $('#post-comment-' + post_id).append(commentHtml);
                        
                        // Delete text in textbox
                        $(event.target).val('');

                        $('#comment-' + post_id).html(data.comment_count + '  <i class="fa-regular fa-comment  mx-2">');
                    }
                },
                error: function() {
                    alert('An error occurred.');
                }
            });
        }
    }
  </script>
  {% endblock extras_js %}
