.pointer {
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.customer-service-link:hover,
.information-service-link:hover {
    text-decoration: underline;
}
/* color before pointer */
.hover-color {
    color: #2c2c2c;
    transition: background-color 0.3s ease;
}

/* color when hover*/
.icon-hover-color:hover {
    color: #e74c3c;
}

/* advert hover color */
.hover-color-ads:hover {
    background-color: #888888;
}

/* Footer style */
.card-footer-get-in-touch-social-media-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 3em;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 150%;
}

.card-footer-get-in-touch-social-media-list:hover {
    color: #e4d7d7;
}

.footer-container-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 6em;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-container-section {
    display: flex;
    flex-direction: row;
}
.footer-container-section-left,
.footer-container-section-right {
    margin: 20px;
}
.footer-container p {
    font-size: 24px;
    color: #f7f9f5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer-container-list i {
    font-size: 250%;
    color: #f7f9f5;
}

.footer-container-list-copy-right {
    display: flex;
}

/* Media Query */
/* Mobile */
@media (max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .footer-container-list {
        text-align: center;
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        text-align: center;
    }

    .card-footer-get-in-touch-social-media-list {
        flex-direction: column;
    }

    .header-nav-dropdown button {
        font-size: 12px;
    }

    .main-container {
        margin-top: 130px;
    }
    .navbar-nav {
        align-items: flex-start;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .card-footer-get-in-touch-social-media-list {
        gap: 0.5em;
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-container-section {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        margin-top: 100px;
    }

    .aside-container-advert {
        margin-top: 100px;
    }
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand div {
    border-radius: 50% !important;
    background-color: #304ffe !important;
    padding: 20px 30px;
}
.logo-content {
    font-size: 1.2em;
}
.logo-content:hover {
    color: #fdd835;
}
.hover-color {
    color: #2c2c2c;
    transition: background-color 0.3s ease;
}

.hover-color:hover {
    color: #fdd835;
}

.hover-color-ads:hover {
    background-color: #c5d9ed;
}
.pointer {
    cursor: pointer;
}

.card {
    border: 1px solid #f5f5f5;
    box-shadow: 0px 4px 12px #e8e8e8;
}

/**********************************************
* Main Navbar
**********************************************/
#main-navbar {
    background: #003399;
    color: #ffffff;
}

#main-navbar a {
    color: #ffffff;
}

#main-navbar #main-logo {
    border-radius: 50% !important;
    color: #000000 !important;
    background-color:  #ffc837!important;
    padding: 15px 30px;
    margin: 0px;
    font-family: "Work Sans", sans-serif;
    font-size: 1.1em;
    font-weight: bolder;
}
/**********************************************
* sidebar widget
**********************************************/
.sidebar-widget {
    border: 1px solid #f5f5f5;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px #e8e8e8;
}

.sidebar-widget .header {
    color: #000000;
    background: #ebebeb;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-lists {
    padding: 10px;
}

.menu-lists ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.menu-lists ul li {
    padding: 5px;
}

.menu-lists ul li a {
    text-decoration: none;
    color: #000000;
}

/**********************************************
* Form Post
**********************************************/
#form-post {
    border: 1px solid #f5f5f5;
    background: #f9f9f9;
    margin-bottom: 20px;
}

#form-post button {
    background-image: linear-gradient(to left, #FF8008 0%, #FFC837  51%, #FF8008  100%);
    color: white !important;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-weight: bold;
}

.form-post-header {
    font-size: 22px;
    font-weight: 600;
}

form {
}

form button {
    height: 50px;
}

.post-card {
    padding: 15px;
    margin-bottom: 20px;
}

.post-card-header {
    font-size: 22px;
    font-weight: 600;
}

.post-card-info {
    margin: 10px 0px;
}

.post-card-info .post-card-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.post-card-info .post-card-excerpt {
    font-size: 18px;
    line-height: 22px;
}

.post-card-body input {
    height: 50px;
}

.post-card-action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 15px 10px;
    background: #f7f7f7;
}

.post-card-action .post-card-action-item {
    width: calc(100% / 4);
    text-align: center;
    position: relative;
    font-weight: 600;
}

.post-card-action .post-card-action-item .action-text {
    position: relative;
}

.post-card-action .post-card-action-item .action-text .count-badge {
    position: absolute;
    top: -10px;
    right: -18px;
    min-width: 16px;
    height: 16px;
    border: 1px solid white;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
}

.deleteupdatebutton{

    background: none!important;
border: none;
padding: 0!important;
font-size: 14px;
/*optional*/
font-family: arial, sans-serif;
/*input has OS specific font-family*/
color: #069;
text-decoration: underline;
cursor: pointer;

}

@media (max-width: 430px) {
    .post-card-action {
        padding: 15px 0px;
    }

    .post-card-action .post-card-action-item {
        width: calc(100% / 2);
        padding: 5px 0px;
    }

    .post-card-action .post-card-action-item .action-text .count-badge {
        top: -5px;
        right: -15px;
    }

    .footer-content .footer-content-item {
        width: 100%;
        padding: 20px;
    }

    #footer-copyright {
        justify-content: flex-start;
    }
}

/**********************************************
* Footer
**********************************************/
#footer {
    background: #003399;
    color: #ffffff;
    padding: 50px 0px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer-content .footer-content-item {
    width: calc(100% / 3);
    padding: 20px;
}

.footer-box {
    background: #ffffff;
    box-shadow: 0px 4px 12px #e8e8e8;
    padding: 20px;
    height: 100%;
}

.footer-box .header {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box .detail {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.footer-box ul {
    padding-left: 0px;
}

.footer-box ul li a {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.footer-box .social {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.footer-box .social .social-item {
    width: calc(100% / 4);
    font-size: 36px;
    text-align: center;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 20px 0px;
}

#footer-copyright div {
    padding: 0px 20px;
}

@media (max-width: 768px) {
    .footer-content .footer-content-item {
        width: 100%;
        padding: 20px;
    }

    #footer-copyright {
        justify-content: flex-start;
    }
}

.dot-menu {
    position: relative;
    width: 150px;
    height: auto;
    text-align: center;
}

.dot-menu .dot-menu-frame {
    display: none;
}

.dot-menu .dot-menu-frame .menu-item {
    font-size: 14px;
    line-height: 22px;
}

.dot-menu .dot-menu-frame .menu-item a,
.dot-menu .dot-menu-frame .menu-item a:hover {
    color: #000000;
    text-decoration: none;
    color: #069;
}
.menu-item:hover {
    text-decoration: underline;
}
.dot-menu:hover .dot-menu-frame {
    display: block;
    position: absolute;
    width: 160px;
    top: -22px;
    left: 34px;
    padding: 15px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 4px 12px #e8e8e8;
    background: white;
    text-align: left;
    min-height: 40px;
}

@media (max-width: 430px) {
    .dot-menu:hover .dot-menu-frame {
        top: 35px;
        left: inherit;
        right: 0px;
    }
}







