.pointer {cursor: pointer;}
ul {
    list-style-type: none;
}

/* color before pointer */
.hover-color {
    color: #2c2c2c; 
    transition: background-color 0.3s ease; 
  }
  
  /* color when hover*/
  .hover-color:hover {
    color: #e74c3c; 
  }


    /* advert hover color */
.hover-color-ads:hover {
    background-color: #888888;
    }

/* Footer style */
.card-footer-get-in-touch-social-media-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 3em;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 150%;
}

.card-footer-get-in-touch-social-media-list:hover {
    color: #e4d7d7;
}

.footer-container-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 6em;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-container {
    padding-bottom: 20px;
}

.footer-container p {
    font-size: 24px;
    color: #f7f9f5;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer-container-list i {
    font-size: 250%;
    color: #f7f9f5;
}

.footer-container-list-copy-right {
    display: flex;
}

.footer-container-list-copy-right p {
    margin-left: 10px;
}

/* Media Query */
/* Mobile */
@media (max-width: 991px) {
    h1 {
        font-size: 30px;
    }

    .footer-container-list {
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        text-align: center;
    }

    .card-footer-get-in-touch-social-media-list {
        flex-direction: column;
    }

    .header-nav-dropdown button {
        font-size: 12px;
    }

    .main-container {
        margin-top: 130px;
    }
    .navbar-nav {
        align-items: flex-start;
    }
  
}

/* Tablet */
@media (max-width: 1024px) {
    .card-footer-get-in-touch-social-media-list {
        gap: 0.5em;
        flex-direction: column;
    }

    .footer-container-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-container-list {
        flex-direction: column;
    }

    .main-container {
        margin-top: 100px;
    }

    .aside-container-advert {
        margin-top: 100px;
    }

}
.navbar-brand {
        display: flex;
        align-items: center;
      }
      .navbar-brand div {
        border-radius: 50% !important;
        background-color: #304ffe !important;
        padding: 30px;
      }
      .logo-content {
        font-size: 1.2em;
      }
      .logo-content:hover {
        color: #fdd835;

      }
      .hover-color {
        color: #2c2c2c;
        transition: background-color 0.3s ease;
      }


      .hover-color:hover {
        color: #Fdd835;
      }



    .hover-color-ads:hover {
        background-color: #c5d9ed;
        }
      .pointer {cursor: pointer;}