<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
{% block title %}
{% endblock %}

    </title>
    <!-- External library -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/16cb06a64c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row p-5">
                <div class="col bg-warning" class="logo">THAILAND GUIDING LIGHT</div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Search</span>
                        <input type="text" class="form-control" aria-label="" />
                        <span class="input-group-text">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">
                                            <i class="fa-solid fa-house-chimney"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-sharp fa-regular fa-circle-info"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-bell"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-sharp fa-solid fa-bars"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
            </div>
            <div class="row">
                <div class="col-6 col-md-4">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">YOUR ACCOUNT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">YOUR CONNECTION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CHAT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MOST POPULAR PLACE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TRAVEL AGENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ACCOMMODATIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TRANSPORT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">THAI TRAVEL NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ADVERTISING
                                CONTRACT</a>
                        </li>
                    </ul>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/id/689838618/es/foto/empresario-en-la-puerta-de-embarque-terminal-de-aeropuerto-en-vuelo-del-aeroplano.jpg?s=1024x1024&w=is&k=20&c=7RDV0crwNDQZOnoOWqIgdIK5QJrZdG27w4JpoLy6AIE="
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">BUDDHA TOUR</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/id/1169660398/es/foto/concepto-de-red-global-mapa-de-jap%C3%B3n-y-grupo-de-personas.jpg?s=2048x2048&w=is&k=20&c=5XyNbbFTJjl2OkyamNibYMW4iZdK6C_Qz81uMlLCZng="
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">FISH AND CHIP TOUR</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/id/1071294112/es/foto/mapa-mundial-con-los-visados-sellos-sellos-concepto-de-viaje.jpg?s=1024x1024&w=is&k=20&c=KQJl7YLCLKJ2s4tKmvPkXKn1Tkqh5-EXsjUVWTnWlRU="
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">PHUKET TOUR</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/id/1479384701/es/vector/conjunto-de-p%C3%A1ginas-de-destino-para-servicios-en-l%C3%ADnea-y-recursos-de-internet-con-concepto.jpg?s=1024x1024&w=is&k=20&c=kiD9lDm4W7AMfYtspS6GaOJt6XAOX-bIF4A3r4StylY="
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">THAILAND TOUR</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/id/1304020328/es/vector/mujer-feliz-sosteniendo-enormes-turistas-binoculares.jpg?s=1024x1024&w=is&k=20&c=A_a1CFtsiE2PVdJn9xRIVB8ZPBUSUHYeXGMo2NMxCHE="
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">ADVENTURE DOT COM</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/id/512522378/es/foto/mujer-joven-en-el-aeropuerto.jpg?s=1024x1024&w=is&k=20&c=jzEw4LbntANDASI-f2RD83wRtpd7Udygz8CwqQxtzcg="
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">THAILAND HOLIDAY DOT COM</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    {% block content %}

                    {% endblock %}
                </div>
    </main>
    <footer>
        <div class="row m-5 0-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>