<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thailand Guilding Light !</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/static/css/base.css" rel="stylesheet"  >
    <script src="https://kit.fontawesome.com/16cb06a64c.js" crossorigin="anonymous"></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
  </head>
  <body>
  
    <!-- Header -->
    <header id="main-navbar" class="p-3">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
          <a id="main-logo" href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            Thailand Guiding Light
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
            <li><a href="/" class="nav-link px-2 text-light"><i class="fa-sharp fa-regular fa-house icon-hover-color"></i> Home</a></li>
            <li><a href="https://www.tourismthailand.org/home"  target="_blank" class="nav-link px-2 text-light"><i class="fa-sharp fa-regular fa-circle-info icon-hover-color"></i> Information</a></li>
          </ul>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
  
          <div class="text-end d-flex justify-content-lg-start align-items-center">
            {% if request.user.is_authenticated  %}
              Welcome : <a href="/account" class="btn btn-link me-2">{{ request.user.profile.get_full_name}}</a> 
            {% else %}
              <a href="/signup" class="btn btn-light me-2">Register</a> 
              <a href="/login" class="btn btn-light me-2">Login</a>
            {% endif %}
          </div>

        </div>
      </div>
    </header>
    <!-- End Header -->

    <div class="container">
      {% block content %}
  
      {% endblock content %}
    </div>
   {% comment %} base footer {% endcomment %}


    
<footer id="footer" class=" w-100">
  <div class="container">
    <!-- Footer Content -->
    <div class="footer-content">
      <div class="footer-content-item">
        <div class="footer-box">
          <div class="header">Get In Touch</div>
          <div class="detail">Thailand Guiding Light.co.uk 21 Green Avenue Silsden Keighley West Yorkshire BD 21 9LD</div>
          <div class="social">
              <a href="https://facebook.com" target="_blank" class="social-item" rel="noopener" aria-label="Visit our Facebook page(open in a new tab)"><i
                class="fa-brands fa-square-facebook icon-hover-color"></i></a>
              <a href="https://twitter.com" target="_blank" class="social-item" rel="noopener" aria-label="Visit our Twitter page(open in a new tab)"><i
                class="fa-brands fa-square-twitter icon-hover-color"></i></a>
              <a href="https://youtube.com" target="_blank" class="social-item" rel="noopener" aria-label="Visit our YouTube page(open in a new tab)"><i
                class="fa-brands fa-square-youtube icon-hover-color"></i></a>
              <a href="https://instagram.com" target="_blank" class="social-item" rel="noopener" aria-label="Visit our Instagram page(open in a new tab)"><i
                class="fa-brands fa-instagram icon-hover-color"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-content-item">
        <div class="footer-box">
          <div class="header">Customer Service</div>
          <ul>
            <li><a href="#" target="_blank" rel="noopener" aria-label="Thailand Guiding Light Ads" class="text-decoration-none">Thailand Guiding Light Ads</a></li>
            <li><a href="#" target="_blank" rel="noopener" aria-label="Thailand Guiding Light Support" class="text-decoration-none">Thailand Guiding Light Support</a></li>
            <li><a href="#" target="_blank" rel="noopener" aria-label="Contact Us" class="text-decoration-none">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-content-item">
        <div class="footer-box">
          <div class="header">Information</div>
          <ul>
            <li><a href="#" target="_blank" rel="noopener" aria-label="Visit ... page(open in a new tab)" class="text-decoration-none"> General Terms & Conditions</a></li>
            <li><a href="#" target="_blank" rel="noopener" aria-label="Visit ... page(open in a new tab)" class="text-decoration-none"> Data Protection & GDPR</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Footer Content -->
    <!-- Footer Copyright -->
    <div id="footer-copyright">
      <div><i class="fa-regular fa-registered"> </i></div>
      <div>Thailand Guiding Light - All Right Reserved</div>
      <div>
        Sponsored by 
        <i class="fa-brands fa-square-github"></i>
        <i class="fa-brands fa-digital-ocean"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
      </div>
    </div>
    <!-- End Footer Copyright -->
  </div>
</footer>

      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      {% block extras_js %}
      {% endblock extras_js %}
  </body>
</html>
 