{% extends "home_app/base.html" %}

{% block content %}

    <div class="row my-5">
        <div class="col-4 d-xs-none">
            <div class="row">
            <p><a class="link-opacity-100" href="/account">Your Account</a></p>
            <p><a class="link-opacity-100" href="#">Your Connection</a></p>
            <p><a class="link-opacity-100" href="#">Chat</a></p>
            <p><a class="link-opacity-100" href="/popular">Most Popular Place</a></p>
            <p><a class="link-opacity-100" href="#">Travel Agent</a></p>
            <p><a class="link-opacity-100" href="#">Accommodations</a></p>
            <p><a class="link-opacity-100" href="#">Transport</a></p>
            <p><a class="link-opacity-100" href="#">Thai Traval News </a></p>
            </div>
            <div class="row">
                <div class="col-8">
                <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://placehold.co/100x50">
                    <div class="card-body">
                      <h5 class="card-title">ADS</h5>
                      <p class="card-text"> <small class="text-body-secondary">This is a wider card with supporting text</small> </p>
                    </div>
                  </div>

                  <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://placehold.co/100x50">
                    <div class="card-body">
                      <h5 class="card-title">ADS</h5>
                      <p class="card-text"> <small class="text-body-secondary">This is a wider card with supporting text</small> </p>
                    </div>
                  </div>

                  <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://placehold.co/100x50">
                    <div class="card-body">
                      <h5 class="card-title">ADS</h5>
                      <p class="card-text"> <small class="text-body-secondary">This is a wider card with supporting text</small> </p>
                    </div>
                  </div>

                </div>

                
            </div>
        </div>

        <div class="col-12 col-md-8">
                <div class="d-flex flex-row mb-3">
                <div class="text-center">
                    <img src="https://placehold.co/60x60" class="rounded" alt="...">
                  </div>
                  <div>
                    <div class="pt-3">
                <span  class="mx-3 fs-18">Account Name</span >
                </div>
            </div>
                </div>
                <input type="text" class="form-control" placeholder="write something ..">
                

                <div class="row my-4">
                    <div class="col-12">
                <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://placehold.co/250x100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Like</small> <small class="text-body-secondary">Comment</small> </p>
                    </div>
                  </div>


                  <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://placehold.co/250x100">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Like</small> <small class="text-body-secondary">Comment</small> </p>
                    </div>
                  </div>


                </div>
            </div>
        </div>
        </div>
</div>
{% endblock content %}