{% extends "home_app/base.html" %}

{% block content %}

    <div class="row my-5 ">
        <div class="col-md-4 d-none d-md-block ">
            <div class="row">
            <p><a class="link-opacity-100" href="/account"><i class="fa-solid fa-gear"></i>Your Account</a></p>
            <p><a class="link-opacity-100" href="#"><i class="fa-solid fa-people-arrows"></i>Your Connection</a></p>
            <p><a class="link-opacity-100" href="#"><i class="fa-solid fa-comments"></i>Chat</a></p>
            <p><a class="link-opacity-100" href="/popular"><i class="fa-brands fa-fort-awesome"></i>Most Popular Place</a></p>
            <p><a class="link-opacity-100" href="#"><i class="fa-solid fa-cart-flatbed-suitcase"></i>Travel Agent</a></p>
            <p><a class="link-opacity-100" href="#"><i class="fa-solid fa-square-h"></i>Accommodations</a></p>
            <p><a class="link-opacity-100" href="#"><i class="fa-solid fa-taxi"></i>Transport</a></p>
            <p><a class="link-opacity-100" href="#"><i class="fa-solid fa-newspaper"></i>Thai Traval News </a></p>
            </div>
            <di class="row">
                <div class="col-8">
                <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://media.istockphoto.com/id/1173736603/photo/young-woman-pulling-suitcase-in-airport-terminal-copy-space.jpg?s=1024x1024&w=is&k=20&c=Z90V6j_KuXIgd8KW_7eObiQMFZTfO4lDnulJ1QmrDSg=">
                    <div class="card-body">
                      <h5 class="card-title">Fish and Chip Tour</h5>
                      <p class="card-text"> <small class="text-body-secondary">Amazing Thailand Escorted Tour Packages from UK
                        Explore Bangkok, the Golden Triangle, Chiang Rai and Chai Mai on a Thailand tour package, which features a visit to an elephant camp.</small> </p>
                    </div>
                  </div>

                  <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://media.istockphoto.com/id/1146493663/photo/bangkok-thailand-at-the-temple-of-the-emerald-buddha-and-grand-palace.jpg?s=1024x1024&w=is&k=20&c=f2M_Pq_7ci7hp3sgSQfbhpZIrTfOSdlcocDXt2xvQXI=">
                    <div class="card-body">
                      <h5 class="card-title">Buddha Tour Dot Com</h5>
                      <p class="card-text"> <small class="text-body-secondary">5 DAYS CHIANG MAI BUDDHISM AND CULTURAL TOUR
                        VISIT CHIANG MAI FOR A TASTE OF BUDDHIST HISTORY AND CULTURE!
                        
                        Let us design for you a trip that will give you insights into the development of Buddhism in North Thailand. We will discuss with you the itinerary and off we go!</small> </p>
                    </div>
                  </div>

                  <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://media.istockphoto.com/id/1309583872/photo/aerial-view-of-lao-lading-island-in-krabi-thailand.jpg?s=1024x1024&w=is&k=20&c=QluXaL4bsnRTTmpHZHvMRNJqGhFT-dBEy8xmJsXZWW8=">
                    <div class="card-body">
                      <h5 class="card-title">Best Phuket Tour</h5>
                      <p class="card-text"> <small class="text-body-secondary">With turquoise waters, limestone cliffs, sandy beaches, and lush jungle, Phang Nga Bay boasts islands straight out of a brochure. Explore them with a guide on this all-inclusive day trip. Kayak through caves and mangroves at Koh Panak and surreal rock formations at Hong Island. Soak up views of James Bond Island then lounge on the beach at Lawa Island. Refuel with a buffet lunch onboard your boat.</small> </p>
                    </div>
                  </div>
                  <div class="card my-3">
                    <img  class="card-img-top" alt="..." src="https://media.istockphoto.com/id/1213840216/photo/luxury-travel-romantic-couple-in-beach-hotel.jpg?s=1024x1024&w=is&k=20&c=Z-5_rrckhzQcXR_czDKemD3X5eQO2371QhDHzGI1Lew=">
                    <div class="card-body">
                      <h5 class="card-title">Koh Chang Island Tour</h5>
                      <p class="card-text"> <small class="text-body-secondary">Koh Chang, ('Elephant Island' in Thai) is the third largest island in Thailand and part of the Mu Ko Chang National Park.

                        Compared to the bustling Phuket and Samui islands, Koh Chang offers a more peaceful and laid-back atmosphere, making it an ideal destination for travelers seeking to avoid the crowds. With a good range of accommodations, some excellent restaurants, and numerous bars, Koh Chang provides a perfect balance of relaxation and adventure.</small> </p>
                    </div>

                </div>
                
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="card my-3 p-4">
                <div class="d-flex flex-row mb-3">
                <div class="text-center">
                    <img src="{{request.user.profile.profile_img.url}}" class="rounded" alt="..." width=60 height=60 id="profile_img">
                  </div>
                  <div>
                    <div class="pt-3">
                <span  class="mx-3 fs-18">{{request.user.first_name}} {{request.user.last_name}}</span >
                </div>
            </div>
                </div>
                {{form.errors}}
                <form method="post"  enctype="multipart/form-data">
                    
                     {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="title" placeholder="Write something" aria-label="Write something" aria-describedby="button-addon2">
                   
                 
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
                  </div>

                  <div class="mb-3">
                  <button class="btn btn-outline-secondary btn btn-primary text-white w-100" type="submit" id="button-addon2">Post</button>
                </div>
           
                </form>

        </div>
                <div class="row my-4">
                    <div class="col-12">

                {% for post in posts %}
                <div class="card my-3">
                    <div class="">
                  
                            <div class="d-flex flex-row m-4">
                            <div class="text-center">
                                <img src="{{post.user.profile.profile_img.url}}" class="rounded-5" alt="..." width=60 height=60>
                              </div>
                              <div>
                                <div class="">
                            <span  class="mx-3 fs-20 fw-700">{{post.user.first_name}} {{post.user.last_name}}</span >
                            </div>
                        </div>
                    </div>
                    </div>
                    {% if post.featured_image.url is not None %}
                    <img  class="card-img-top" alt="..." src="{{post.featured_image.url}}">
                    {% else %}
                   
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner p-3">
                            {% for gallery in post.gallery_set.all %}
                    
                          <div class="carousel-item active">
                            <img src="{{gallery.image.url}}" class="d-block w-100 rounded" alt="..." height=500 style="object-fit:cover">
                          </div>

                
                        {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>
                      <p class="card-text">{{post.excerpt}}</p>
                      <p class="card-text"><small class="text-body-secondary" id="like-{{post.id_post}}" onclick="toggle_like('{{post.id_post}}')">{{post.likes.count}} <i class="fa-solid fa-heart"></i></small> <small class="text-body-secondary" id="comment-{{post.id_post}}" onclick="toggle_comment('post-comment-{{post.id_post}}')" >{{ post.comment_set.all.count }}  <i class="fa-regular fa-comment"></i></small><small><i class="fa-solid fa-share-from-square"></i></small><small><i class="fa-solid fa-people-arrows"></i></small> </p>
                    <hr/>
                    <input type="text" name="comment" class="form-control" onkeypress="post_comment(event,'{{post.id_post}}')" placeholder="what do you thing about this .. "/>

                    </div>

                    <div class="card-footer d-none" id="post-comment-{{post.id_post}}" >
                        <p class="h6 my-3">Comments</span>
                        {% for comment in post.comment_set.all %}
                            <div class="row">
                                <div class="d-flex flex-row my-1">
                                    <div class="text-center ml-5">
                                        <img src="{{comment.user.profile.profile_img.url}}" class="rounded ml-5" alt="..." width=50 height=50>
                                      </div>
                                      <div>
                                        <div class="">
                                        <p  class="mx-3 my-0 text-post-account-comment">{{comment.user}}</p >
                                        <p  class="mx-3 my-2 text-post-comment">{{comment.comment}}</p >
                                    </div>
                                </div>
                                    </div>
                            </div>
                            <hr/>
                            {% empty %}
                            <p  class="mx-3 my-2 text-center text-post-comment"></p >
                        {% endfor %}
                    </div>
                  </div>
                {% endfor %}




                </div>
            </div>
        </div>
        </div>
</div>
{% endblock content %}


{% block extras_js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    function toggle_comment(id_post){
        $('#' + id_post).toggleClass('d-none');
      }




      function toggle_like(id_post) {
        var csrftoken = Cookies.get('csrftoken');


        $.ajaxSetup({
            headers: {
                'X-CSRFToken': csrftoken
            }
        });

        $.ajax({
            type: 'POST',
            url: `/api/toggle-like/${id_post}/`,
            success: function(data) {
                $('#like-' + id_post).text(data.like_count + ' Like');
            },
            error: function() {
                console.log('like fail')
            }
        });
    }




    function post_comment(event,post_id) {
        if (event.key === 'Enter') {
            console.log("post comment")
            event.preventDefault();
            var comment_text = $(event.target).val();

            $.ajax({
                type: 'POST',
                url: `/api/add_comment/${post_id}/`,
                data: {
                    'comment': comment_text,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.success) {
                        // เพิ่ม HTML ลงไปที่ตำแหน่งที่ต้องการ
                        var profileImgSrc = $('#profile_img').attr('src');
                        var commentHtml = `
                            <div class="row">
                                <div class="d-flex flex-row my-1">
                                    <div class="text-center ml-5">
                                        <img src="${profileImgSrc}" class="rounded ml-5" alt="..." width=50 height=50>
                                    </div>
                                    <div>
                                        <div class="">
                                            <p  class="mx-3 my-0 text-post-account-comment">${data.comment.user}</p>
                                            <p  class="mx-3 my-2 text-post-comment">${data.comment.comment}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        `;
                        // เพิ่ม HTML ลงไปในตำแหน่งที่คุณต้องการ
                        $('#post-comment-' + post_id).append(commentHtml);
                        
                        // ลบข้อความที่ป้อนใน textbox
                        $(event.target).val('');

                        $('#comment-' + post_id).text(data.comment_count + ' Comments');
                    }
                },
                error: function() {
                    alert('An error occurred.');
                }
            });
        }
    }
  </script>

  {% endblock extras_js %}