{% extends "home_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row my-5">
        <div class="col-12 col-md-4">
            <div class="row">
              {% if request.user.profile.profile_img %}
              <img class="card-img-top" alt="..." src="{{ request.user.profile.profile_img.url }}">
          {% else %}
              <img class="card-img-top" alt="..." src="..">
          {% endif %}
            </div>
        </div>

        <div class="col-12 col-md-8">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update Info</button>
        </form>
                </div>
            </div>
        </div>
        </div>
</div>
{% endblock content %}